header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin: auto;
    @media screen and (max-width: 1050px) {
      justify-content: space-between;
    }
    .logo__container {
      margin-right: 30px;
      cursor: pointer;
    }
    nav {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1050px) {
        display: none;
      }
      .nav__list {
        display: flex;
        .list__item {
          list-style: none;
          cursor: pointer;
          font-weight: 700;
          padding: 0 20px;
          color: rgba(0, 0, 0, 0.45);
          transition: all 0.2s ease-in-out;
          &:hover {
            color: #000;
          }
        }
      }
      .auth__list {
        display: flex;
        align-items: center;
        .list__item {
          font-weight: 700;
          cursor: pointer;
          padding-right: 35px;
          color: rgba(0, 0, 0, 0.45);
          transition: all 0.2s ease-in-out;
          &:hover {
            color: #000;
          }
        }
      }
    }
    svg {
      width: 40px;
      cursor: pointer;
      display: none;
      @media screen and (max-width: 1050px) {
        display: block;
      }
    }
  }
}
