.newsletter__section {
  background: url('../../public/images/bg-newsletter.png') no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  margin-top: 220px;
  @media screen and (max-width: 700px) {
    background-size: cover;
    background-position: 50% 0;
  }
  h1 {
    font-family: inherit;
    text-align: center;
    width: 45%;
    font-size: 55px;
    color: $very-dark-blue;
    margin: auto;
    @media screen and (max-width: 1100px) {
      font-size: 40px;
      width: 50%;
    }
    @media screen and (max-width: 900px) {
      font-size: 35px;
    }
    @media screen and (max-width: 800px) {
      width: 60%;
    }
    @media screen and (max-width: 700px) {
      width: 70%;
    }
    @media screen and (max-width: 600px) {
      width: 85%;
    }
    @media screen and (max-width: 400px) {
      width: 90%;
    }
  }
  .testimonial {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    @media screen and (max-width: 1100px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 700px) {
      margin-top: 10px;
    }
    .illustration__container {
      position: relative;
      background: url('../../public/images/chat-mockup.png') no-repeat;
      background-size: contain;
      height: 313px;
      width: 565px;
      @media screen and (max-width: 1100px) {
        transform: scale(0.8);
      }
      @media screen and (max-width: 900px) {
        transform: scale(0.7);
      }
      @media screen and (max-width: 800px) {
        transform: scale(0.65);
      }
      @media screen and (max-width: 700px) {
        transform: scale(0.6);
      }
      @media screen and (max-width: 380px) {
        transform: scale(0.48);
      }
      @media screen and (max-width: 300px) {
        transform: scale(0.44);
      }
      p {
        color: #fff;
        padding: 40px 55px;
        line-height: 2;
        font-size: 30px;
        @media screen and (max-width: 300px) {
          font-size: 32px;
        }
      }
      .quotes {
        position: absolute;
        left: -100px;
        top: 0;
        @media screen and (max-width: 700px) {
          left: -60px;
        }
      }
    }
  }
  .testimonial__author {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @media screen and (max-width: 700px) {
      gap: 20px;
    }
    @media screen and (max-width: 300px) {
      margin: 0;
    }
    .avatar__container {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      @media screen and (max-width: 1100px) {
        width: 80px;
        height: 80px;
      }
      @media screen and (max-width: 700px) {
        width: 60px;
        height: 60px;
      }
      @media screen and (max-width: 300px) {
        width: 50px;
        height: 50px;
      }
    }
    .author__info {
      font-size: 25px;
      font-weight: 600;
      color: $very-dark-blue;
      display: inline;
      @media screen and (max-width: 1100px) {
        font-size: 20px;
      }
      @media screen and (max-width: 700px) {
        font-size: 18px;
      }
      @media screen and (max-width: 380px) {
        width: 50%;
      }
      .title {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
        @media screen and (max-width: 1100px) {
          font-size: 16px;
        }
        @media screen and (max-width: 700px) {
          font-size: 15px;
        }
      }
    }
  }
  form {
    padding-top: 80px;
    padding-bottom: 180px;
    @media screen and (max-width: 1100px) {
      padding-bottom: 150px;
    }
    @media screen and (max-width: 300px) {
      padding-top: 50px;
    }
    .email__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 70px;
      width: 500px;
      height: 70px;
      margin: auto;
      @media screen and (max-width: 1100px) {
        width: 450px;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      @media screen and (max-width: 600px) {
        width: 95%;
      }
      @media screen and (max-width: 380px) {
        width: 90%;
        height: 60px;
      }

      .email__input {
        border-radius: 70px;
        outline: none;
        border: none;
        padding: 0 50px;
        font-family: inherit;
        font-size: 18px;
        @media screen and (max-width: 380px) {
          padding: 0 25px;
          font-size: 16px;
        }
        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 35px rgba(0, 131, 121, 0.35);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        @media screen and (max-width: 380px) {
          padding: 0 20px;
          font-size: 15px;
        }
      }
    }
    .newsletter__details {
      margin-top: 15px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 0 20px;
          list-style: none;
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          @media screen and (max-width: 600px) {
            padding: 0 15px;
            font-size: 13px;
          }
          @media screen and (max-width: 380px) {
            padding: 0 10px;
            font-size: 11px;
          }
        }
        .dot__container {
          width: 5px;
          margin-bottom: 5px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
