@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
.articles__section {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.articles__section h1 {
  font-family: inherit;
  font-weight: 700;
  color: #00252b;
  font-size: 45px;
  color: #00252b;
}

.articles__section .vertical__line {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 800px) {
  .articles__section .vertical__line {
    display: none;
  }
}

.articles__section .horizental__line {
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .articles__section .horizental__line {
    display: block;
    margin: 10px auto;
  }
}

.articles__section .articles__grid {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
      grid-template-columns: 1fr 5px 1fr 5px 1fr;
  gap: 50px 30px;
}

@media screen and (max-width: 1300px) {
  .articles__section .articles__grid {
    -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: 1fr 5px 1fr;
  }
}

@media screen and (max-width: 900px) {
  .articles__section .articles__grid {
    -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: 1fr 5px 1fr;
  }
}

@media screen and (max-width: 800px) {
  .articles__section .articles__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px 30px;
  }
}

.articles__item {
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .articles__item {
    margin-bottom: 0px;
  }
}

.articles__item .image__container {
  width: 100%;
}

.articles__item .image__container img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.articles__item .text__content {
  width: 95%;
}

.articles__item .text__content h1 {
  margin-top: 30px;
}

@media screen and (max-width: 1000px) {
  .articles__item .text__content h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .articles__item .text__content h1 {
    font-size: 40px;
  }
}

.articles__item .text__content p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  font-size: 18px;
  width: 95%;
  line-height: 1.8;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .articles__item .text__content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .articles__item .text__content p {
    font-size: 18px;
  }
}

.articles__item .text__content .news__type {
  margin-top: 15px;
}

.categories__section {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 100px;
  padding-top: 25px;
}

.categories__section .categories__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__section .categories__head h4 {
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 400px) {
  .categories__section .categories__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 10px;
  }
}

.categories__section .categories__head .search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 185px;
}

.categories__section .categories__head .search__bar .vertical__line {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 30px;
}

.categories__section .categories__head .search__bar p {
  color: #008379;
  font-weight: 600;
  cursor: pointer;
}

.categories__section .categories__head .search__bar .search__icon__container {
  margin-top: 5px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .categories__section .categories__head .search__bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

.categories__section .categories__grid__section {
  position: relative;
}

.categories__section .categories__grid__section .arrow__container__right {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 50%;
  border: 2px solid #fff;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff;
  z-index: 10;
}

.categories__section .categories__grid__section .arrow__container__right:hover svg path {
  fill: #008379;
}

.categories__section .categories__grid__section .arrow__container__right svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.categories__section .categories__grid__section .arrow__container__left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0%;
  top: 50%;
  border: 2px solid #fff;
  -webkit-transform: translate(-43%, -50%);
          transform: translate(-43%, -50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: #fff;
}

.categories__section .categories__grid__section .arrow__container__left:hover svg path {
  fill: #008379;
}

.categories__section .categories__grid__section .arrow__container__left svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.categories__section .categories__grid__section .categories__grid__container {
  margin-top: 50px;
  overflow-x: hidden;
  padding: 5px;
}

.categories__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(202px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(202px, 1fr));
  gap: 50px;
}

.grid__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.grid__item svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grid__item:hover {
  background-color: rgba(255, 178, 77, 0.15);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.grid__item:hover svg path {
  fill: #ffb24d;
}

.grid__item .title {
  padding-top: 30px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #00252b;
  color: white;
}

footer .container {
  padding-top: 80px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

footer .container .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  footer .container .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}

footer .container .footer__top .footer__logo {
  width: 280px;
}

footer .container .footer__top .footer__logo .logo__container {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  footer .container .footer__top .footer__logo {
    text-align: center;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  footer .container .footer__top .footer__logo {
    width: 95%;
  }
}

footer .container .footer__top .footer__logo p {
  padding-top: 20px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 1.8;
}

footer .container .footer__top .footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer__top .footer__lists .left__list,
footer .container .footer__top .footer__lists .right__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  footer .container .footer__top .footer__lists .left__list,
  footer .container .footer__top .footer__lists .right__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    gap: 40px;
  }
}

@media screen and (max-width: 950px) {
  footer .container .footer__top .footer__lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    gap: 40px;
  }
}

footer .container .footer__top .footer__lists ul {
  padding: 0 50px;
}

footer .container .footer__top .footer__lists ul .list__head {
  color: #fff;
  font-size: 21px;
  padding-bottom: 20px;
  font-weight: normal;
  cursor: default;
}

footer .container .footer__top .footer__lists ul .list__head:hover {
  text-decoration: none;
}

footer .container .footer__top .footer__lists ul li {
  list-style: none;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2.2;
  font-weight: 300;
  cursor: pointer;
}

footer .container .footer__top .footer__lists ul li:hover {
  text-decoration: underline;
}

footer .container .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 300;
  margin-top: 80px;
}

@media screen and (max-width: 900px) {
  footer .container .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    gap: 40px;
  }
}

footer .container .footer__bottom .social__media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .footer__bottom .social__media .twitter__icon,
footer .container .footer__bottom .social__media .linkedin__icon {
  cursor: pointer;
}

footer .container .footer__bottom .social__media .twitter__icon svg path,
footer .container .footer__bottom .social__media .linkedin__icon svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .container .footer__bottom .social__media .twitter__icon:hover svg path,
footer .container .footer__bottom .social__media .linkedin__icon:hover svg path {
  fill-opacity: 1;
  fill: #ffb24d;
}

footer .container .footer__bottom .social__media .facebook__icon {
  cursor: pointer;
}

footer .container .footer__bottom .social__media .facebook__icon svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .container .footer__bottom .social__media .facebook__icon:hover svg .first__path {
  fill-opacity: 1;
  fill: #ffb24d;
}

footer .container .footer__bottom .privacy__policy {
  cursor: pointer;
}

footer .container .footer__bottom .privacy__policy:hover {
  text-decoration: underline;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

header .container {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .container .logo__container {
  margin-right: 30px;
  cursor: pointer;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  header .container nav {
    display: none;
  }
}

header .container nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav .nav__list .list__item {
  list-style: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .container nav .nav__list .list__item:hover {
  color: #000;
}

header .container nav .auth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav .auth__list .list__item {
  font-weight: 700;
  cursor: pointer;
  padding-right: 35px;
  color: rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .container nav .auth__list .list__item:hover {
  color: #000;
}

header .container svg {
  width: 40px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1050px) {
  header .container svg {
    display: block;
  }
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

@media screen and (max-width: 1300px) {
  .hero__section {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__section {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    margin-top: 10px;
    gap: 80px;
  }
}

@media screen and (max-width: 800px) {
  .hero__section {
    margin-top: 50px;
    gap: 50px;
  }
}

.hero__section .text__content {
  width: 600px;
}

@media screen and (max-width: 1000px) {
  .hero__section .text__content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__section .text__content span {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .hero__section .text__content span {
    font-size: 20px;
  }
}

.hero__section .text__content h1 {
  font-size: 55px;
  font-family: inherit;
  color: #00252b;
  font-weight: 700;
  padding: 10px 0;
}

@media screen and (max-width: 1250px) {
  .hero__section .text__content h1 {
    font-size: 50px;
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .hero__section .text__content h1 {
    font-size: 45px;
    width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .hero__section .text__content h1 {
    text-align: center;
    width: 75%;
    font-size: 60px;
    margin: 10px;
  }
}

@media screen and (max-width: 900px) {
  .hero__section .text__content h1 {
    font-size: calc(5vh + 10px);
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .hero__section .text__content h1 {
    font-size: calc(4vh + 10px);
  }
}

@media screen and (max-width: 500px) {
  .hero__section .text__content h1 {
    font-size: 40px;
  }
}

.hero__section .text__content .button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
}

.hero__section .illustration__container {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

@media screen and (max-width: 1000px) {
  .hero__section .illustration__container {
    justify-self: flex-start;
  }
}

.hero__section .illustration__container svg {
  width: 550px;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .hero__section .illustration__container svg {
    width: 500px;
  }
}

@media screen and (max-width: 1250px) {
  .hero__section .illustration__container svg {
    width: 450px;
  }
}

@media screen and (max-width: 1100px) {
  .hero__section .illustration__container svg {
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__section .illustration__container svg {
    width: 100%;
    min-width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__section .illustration__container {
    width: 82%;
    margin: auto;
  }
}

.newsletter__section {
  background: url("https://res.cloudinary.com/achraf-dev/image/upload/v1621465955/bg-newsletter_rxlzxr.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  margin-top: 180px;
}

@media screen and (max-width: 700px) {
  .newsletter__section {
    background-size: cover;
    background-position: 50% 0;
  }
}

@media screen and (max-width: 1000px) {
  .newsletter__section {
    margin-top: 100px;
  }
}

.newsletter__section h1 {
  font-family: inherit;
  text-align: center;
  width: 45%;
  font-size: 55px;
  color: #00252b;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .newsletter__section h1 {
    font-size: 40px;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .newsletter__section h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .newsletter__section h1 {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section h1 {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .newsletter__section h1 {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .newsletter__section h1 {
    width: 90%;
  }
}

.newsletter__section .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

@media screen and (max-width: 1100px) {
  .newsletter__section .testimonial {
    margin-top: 50px;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial {
    margin-top: 0px;
  }
}

.newsletter__section .testimonial .illustration__container {
  position: relative;
  background: url("https://res.cloudinary.com/achraf-dev/image/upload/v1622654458/chat-mockup_cw6uuh.svg") no-repeat;
  background-size: contain;
  height: 313px;
  width: 565px;
}

@media screen and (max-width: 1100px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 900px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media screen and (max-width: 800px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media screen and (max-width: 380px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.48);
            transform: scale(0.48);
  }
}

@media screen and (max-width: 300px) {
  .newsletter__section .testimonial .illustration__container {
    -webkit-transform: scale(0.44);
            transform: scale(0.44);
  }
}

.newsletter__section .testimonial .illustration__container p {
  color: #fff;
  padding: 40px 55px;
  line-height: 2;
  font-size: 30px;
}

@media screen and (max-width: 300px) {
  .newsletter__section .testimonial .illustration__container p {
    font-size: 32px;
  }
}

.newsletter__section .testimonial .illustration__container .quotes {
  position: absolute;
  left: -100px;
  top: 0;
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial .illustration__container .quotes {
    left: -60px;
  }
}

.newsletter__section .testimonial__author {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial__author {
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .newsletter__section .testimonial__author {
    margin: 0;
  }
}

.newsletter__section .testimonial__author .avatar__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .newsletter__section .testimonial__author .avatar__container {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial__author .avatar__container {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 300px) {
  .newsletter__section .testimonial__author .avatar__container {
    width: 50px;
    height: 50px;
  }
}

.newsletter__section .testimonial__author .author__info {
  font-size: 25px;
  font-weight: 600;
  color: #00252b;
  display: inline;
}

@media screen and (max-width: 1100px) {
  .newsletter__section .testimonial__author .author__info {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial__author .author__info {
    font-size: 18px;
  }
}

@media screen and (max-width: 380px) {
  .newsletter__section .testimonial__author .author__info {
    width: 50%;
  }
}

.newsletter__section .testimonial__author .author__info .title {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .newsletter__section .testimonial__author .author__info .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section .testimonial__author .author__info .title {
    font-size: 15px;
    margin-top: 5px;
  }
}

.newsletter__section form {
  padding-top: 80px;
  padding-bottom: 180px;
}

@media screen and (max-width: 1100px) {
  .newsletter__section form {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 500px) {
  .newsletter__section form {
    padding-top: 50px;
  }
}

.newsletter__section form .email__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 70px;
  width: 500px;
  height: 70px;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .newsletter__section form .email__container {
    width: 450px;
  }
}

@media screen and (max-width: 700px) {
  .newsletter__section form .email__container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .newsletter__section form .email__container {
    width: 95%;
  }
}

@media screen and (max-width: 380px) {
  .newsletter__section form .email__container {
    width: 90%;
    height: 60px;
  }
}

.newsletter__section form .email__container .email__input {
  border-radius: 70px;
  outline: none;
  border: none;
  padding: 0 50px;
  font-family: inherit;
  font-size: 18px;
}

@media screen and (max-width: 380px) {
  .newsletter__section form .email__container .email__input {
    padding: 0 25px;
    font-size: 16px;
  }
}

.newsletter__section form .email__container .email__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.newsletter__section form .email__container .email__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.newsletter__section form .email__container .email__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.newsletter__section form .email__container .email__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.newsletter__section form .email__container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 15px 35px rgba(0, 131, 121, 0.35);
          box-shadow: 0 15px 35px rgba(0, 131, 121, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media screen and (max-width: 380px) {
  .newsletter__section form .email__container .button {
    padding: 0 20px;
    font-size: 15px;
  }
}

.newsletter__section form .newsletter__details {
  margin-top: 15px;
}

.newsletter__section form .newsletter__details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter__section form .newsletter__details ul li {
  padding: 0 20px;
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .newsletter__section form .newsletter__details ul li {
    padding: 0 15px;
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  .newsletter__section form .newsletter__details ul li {
    padding: 0 10px;
    font-size: 11px;
  }
}

.newsletter__section form .newsletter__details ul .dot__container {
  width: 5px;
  margin-bottom: 5px;
}

.newsletter__section form .newsletter__details ul .dot__container img {
  width: 100%;
}

.button {
  padding: 15px 25px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.75;
}

.primary__button {
  background-color: #008379;
  color: #fff;
}

.custom__button {
  background-color: rgba(255, 178, 77, 0.2);
  display: inline-block;
  color: #ffb24d;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.secondary__button {
  background-color: #fff;
  color: #008379;
  border: 2px solid #008379;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 12px 130px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 80px;
}

@media screen and (max-width: 800px) {
  .secondary__button {
    padding: 13px 0;
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .secondary__button {
    width: 95%;
  }
}

.secondary__button:hover {
  color: #fff;
  background-color: #008379;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background: url("https://res.cloudinary.com/achraf-dev/image/upload/v1625949903/bg-light-green_cpzadu.svg") no-repeat;
  background-position: 105% -90px;
}

@media screen and (max-width: 1300px) {
  .app__container {
    background-position: 120% -100px;
  }
}

@media screen and (max-width: 1250px) {
  .app__container {
    background-position: 125% -140px;
  }
}

@media screen and (max-width: 1100px) {
  .app__container {
    background-position: 140% -180px;
  }
}

@media screen and (max-width: 1000px) {
  .app__container {
    background-position: 100% 0px;
  }
}

@media screen and (max-width: 900px) {
  .app__container {
    background-position: 120% -90px;
  }
}

@media screen and (max-width: 800px) {
  .app__container {
    background-position: 250px -90px;
  }
}

@media screen and (max-width: 700px) {
  .app__container {
    background-position: 200px -180px;
  }
}

@media screen and (max-width: 600px) {
  .app__container {
    background-position: 150px -230px;
  }
}

@media screen and (max-width: 500px) {
  .app__container {
    background-position: 100px 0px;
    background-size: 92%;
  }
}

.app__container .wrapper {
  min-width: 250px;
  max-width: 2000px;
  width: 80%;
  margin: auto;
}

.hide__arrow {
  display: none !important;
}
/*# sourceMappingURL=app.css.map */