footer {
  background-color: $very-dark-blue;
  color: white;
  .container {
    padding-top: 80px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 80%;
    overflow: hidden;
    .footer__top {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1250px) {
        flex-flow: column nowrap;
        align-items: center;
        gap: 60px;
      }
      .footer__logo {
        width: 280px;
        @media screen and (max-width: 1250px) {
          text-align: center;
          width: 300px;
        }
        @media screen and (max-width: 600px) {
          width: 95%;
        }
        p {
          padding-top: 20px;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.85);
          line-height: 1.8;
        }
      }
      .footer__lists {
        display: flex;
        .left__list,
        .right__list {
          display: flex;
          @media screen and (max-width: 600px) {
            flex-flow: column nowrap;
            text-align: center;
            gap: 40px;
          }
        }
        @media screen and (max-width: 950px) {
          flex-flow: column nowrap;
          text-align: center;
          gap: 40px;
        }
        ul {
          padding: 0 50px;
          .list__head {
            color: #fff;
            font-size: 20px;
            padding-bottom: 20px;
            font-weight: normal;
            cursor: default;
            &:hover {
              text-decoration: none;
            }
          }
          li {
            list-style: none;
            color: rgba(255, 255, 255, 0.4);
            line-height: 2.2;
            font-weight: 300;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footer__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      padding-top: 40px;
      color: rgba(255, 255, 255, 0.3);
      font-weight: 300;
      margin-top: 80px;
      @media screen and (max-width: 900px) {
        flex-flow: column nowrap;
        gap: 40px;
      }
      .social__media {
        align-items: center;
        display: flex;
        width: 200px;
        justify-content: space-between;
        .twitter__icon,
        .linkedin__icon {
          cursor: pointer;
          svg path {
            transition: all 0.2s ease-in-out;
          }
          &:hover svg path {
            fill-opacity: 1;
            fill: $soft-yellow;
          }
        }
        .facebook__icon {
          cursor: pointer;
          svg path {
            transition: all 0.2s ease-in-out;
          }
          &:hover svg .first__path {
            fill-opacity: 1;
            fill: $soft-yellow;
          }
        }
      }
    }
  }
}
