.newsletter__section {
  background: url('../images/bg-newsletter.png') no-repeat;
  background-size: cover;
  margin-top: 160px;
  padding-bottom: 160px;
  h1 {
    font-family: inherit;
    text-align: center;
    width: 45%;
    font-size: 55px;
    color: $very-dark-blue;
    margin: auto;
  }
  .testimonial {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    .illustration__container {
      position: relative;
      margin: auto;
      background: url('../images/chat-mockup.png') no-repeat;
      height: 313px;
      width: 565px;
      p {
        color: #fff;
        padding: 40px 55px;
        line-height: 2;
        font-size: 30px;
      }
      img {
        position: absolute;
        left: -100px;
        top: 0;
      }
    }
  }
  .testimonial__author {
    display: flex;
    align-items: center;
    gap: 40px;
    .avatar__container {
      width: 100px;
      height: 100px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .author__info {
      .username {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        color: $very-dark-blue;
      }
      .title {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18px;
      }
    }
  }
  form {
    margin-top: 60px;
    margin-bottom: 20px;
    .email__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 70px;
      width: 500px;
      height: 70px;
      .email__input {
        border-radius: 70px;
        outline: none;
        border: none;
        padding: 0 50px;
        font-family: inherit;
        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 15px 35px rgba(0, 131, 121, 0.35);
      }
    }
    .newsletter__details {
      margin-top: 15px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 0 20px;
          list-style: none;
          color: rgba(0, 0, 0, 0.6);
          font-size: 13px;
        }
        .dot__container {
          width: 5px;
          margin-bottom: 5px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
