@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import './header';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background: url('../images/bg-light-green.svg') no-repeat;
  background-position: 100% 0%;
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    width: 80%;
    margin: auto;
  }
}
