.categories__grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(202px, 1fr));
  gap: 50px;
  .grid__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
    @include flexBox();
    justify-content: center;
    flex-flow: column nowrap;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    svg path {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      background-color: hsla(34, 100%, 65%, 0.15);
      box-shadow: none;
    }
    &:hover svg path {
      fill: $soft-yellow;
    }
    .title {
      padding-top: 30px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
