.button {
  padding: 15px 25px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.75;
  }
}
.primary__button {
  background-color: $dark-green;
  color: #fff;
}
.custom__button {
  background-color: rgba(255, 178, 77, 0.2);
  display: inline-block;
  color: $soft-yellow;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.secondary__button {
  background-color: #fff;
  color: $dark-green;
  border: 2px solid $dark-green;
  display: inline-block;
  align-self: center;
  padding: 12px 130px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 80px;
  @media screen and (max-width: 800px) {
    padding: 13px 0;
    width: 90%;
    text-align: center;
  }
  @media screen and (max-width: 700px) {
    width: 95%;
  }
  &:hover {
    color: #fff;
    background-color: $dark-green;
    opacity: 1;
  }
}
