@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import './variables';
@import '../components/Articles/articles';
@import '../components/Articles/ArticlesItem/articles-item';
@import '../components/Categories/categories';
@import '../components/CategoriesGrid/categories-grid';
@import '../components/CategoriesGrid/CategoriesItem/categories-item';
@import '../components/Footer/footer';
@import '../components/Header/header';
@import '../components/Hero/hero';
@import '../components/Newsletter/newsletter';
@import './buttons';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  min-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  background: url('https://res.cloudinary.com/achraf-dev/image/upload/v1621465683/bg-light-green_pwxioz.svg')
    no-repeat;
  background-position: 105% -130px;
  @media screen and (max-width: 1300px) {
    background-position: 130% -150px;
  }
  @media screen and (max-width: 1250px) {
    background-position: 150% -200px;
  }
  @media screen and (max-width: 1100px) {
    background-position: 180% -250px;
  }
  @media screen and (max-width: 1000px) {
    background-position: 150% -180px;
  }
  @media screen and (max-width: 900px) {
    background-position: 250% -180px;
  }
  @media screen and (max-width: 800px) {
    background-position: 250px -280px;
  }
  @media screen and (max-width: 700px) {
    background-position: 200px -350px;
  }
  @media screen and (max-width: 600px) {
    background-position: 150px -350px;
  }
  @media screen and (max-width: 500px) {
    background-position: 130px -450px;
  }
  .wrapper {
    min-width: 250px;
    max-width: 2000px;
    width: 80%;
    margin: auto;
  }
}

.hide__arrow {
  display: none !important;
}
